/*
    Copyright : Julien Guézennec © 2022 https://julienweb.fr
    Repository : https://github.com/molokoloco/medoucine/
    + https://getbootstrap.com/docs/5.2/getting-started/introduction/
*/


/* Default styles
-------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  overflow: hidden;
  background: hotpink;
}

/* p,
a {
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
} */

body {
	color: rgb(255, 255, 255);
	font-size: 13.5px;
	line-height: 18px;
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body > * {
	color: #b71968;
}

a {
	color:  hotpink;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

a,
button,
input,
select {
	pointer-events: auto;
}

h1 {
  font-size: 3em;
  letter-spacing: -3px;
  line-height: 0.7em;
}

h5 {
    font-size: 24px;
}

h4 {
    color: yellow;
}

h5 {
    font-size: 16px;
}

p {
    margin-bottom: 13px;
}

@media (max-width: 768px) {
    h3 {
        font-size: 20px;
    }
    h5 {
        font-size: 15px;
    }
}

.scroll {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 0;
}

.label {
  pointer-events: none;
}

/* Custom styles
-------------------------------------------------- */

#me {
    margin: 0 0 0 5px;
}

@media (max-width: 768px) {
    #me {
        display: none;
    }
}

#cabinetRecurentOptions {
    background-color: #faf4f1;
    padding: 10px;
    border-radius: 20px;
}

/* Boostrap overide
--------------------------------------------------  */

.boostrapCustom {
    --bs-body-color: rgb(24, 24, 24);
    --bs-btn-border-radius: 20px;
    --bs-body-font-size: 13px;
    --bs-btn-font-size: 13px;
    --bs-card-color: #b71968;
    --bs-btn-bg: hotpink;
}

.btn-outline-success {
    --bs-btn-color: hotpink;
    --bs-btn-border-color: hotpink;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hotpink;
    --bs-btn-hover-border-color: hotpink;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: hotpink;
    --bs-btn-active-border-color: hotpink;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: hotpink;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: hotpink;
    --bs-gradient: none;
}

/* Boostrap customize
--------------------------------------------------  */

main {
    position: absolute;
    top: 60px;
    left:0;
    right: 0;
    bottom: 30px;
    overflow-y: scroll;
    z-index: 20;

    display: none; /* ! */
}

main > .container {
    padding-top: 60px;
    height: 300vh;
}

.navbar {
    padding: 2px;
    color: #ffffff;
    height: 60px;
}

#navigation,
#navigation a {
    color: hotpink;
    font-size: 12px;
}

#navigation {
    margin-bottom: 20px;
}

.nav-link,
.navbar-nav .nav-link,
.navbar-nav .nav-link.active {
    color: #ffffff;
    font-size: 13px;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    height: 35px;
}

.nav-item {
    position: relative;
    padding: 5px;
}

.nav-item svg {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
}

.nav-item:hover svg {
    opacity: 0.8;
}


.navbar-brand {
    color: #fff;
    line-height: 60px;
    width: 180px;
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
                0 2px 0 #bbb,
                0 3px 0 #aaa,
                0 4px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 2px 5px rgba(0,0,0,.2),
                0 4px 10px rgba(0,0,0,.25),
                0 8px 10px rgba(0,0,0,.2),
                0 12px 20px rgba(0,0,0,.15);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;
    color: yellow;
    text-shadow: 0 0 0 #ccc,
                0 0 0 #bbb,
                0 0 0 #aaa,
                0 0 0 rgba(0,0,0,.1),
                0 0 0 rgba(0,0,0,.1),
                0 0 0 rgba(0,0,0,.3),
                0 0 0 rgba(0,0,0,.2),
                0 0 10px rgba(0,0,0,.25),
                0 8px 10px rgba(0,0,0,.2),
                0 12px 20px rgba(0,0,0,.15);
    transform: translate(3px, 3px);
    -webkit-transform: translate(3px, 3px);
    -moz-transform: translate(3px, 3px);
    -o-transform: translate(3px, 3px);
    -ms-transform: translate(3px, 3px);
}

@media (max-width: 768px) {
    .navbar-brand {
        line-height: 30px;
    }
}

.navbar-nav .nav-link {
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    text-decoration: none;
    color: hotpink;
    background: rgba(255, 255, 255, 1);
}

@media (min-width: 768px) {
    .nav-link.active::after {
        content: "";
        position: absolute;
        top: 25px;
        left: 0;
        width: 97%;
        border-bottom: 3px #FFF solid;
        padding: 12px 0;
        z-index: 1;
    } 
}

.navbar-collapse {
    background: hotpink;
    border-radius: 6px;
}

.navbar-toggler {
    outline: 0!important;
    border: none!important;
    box-shadow:none!important;
}

@media (max-width: 768px) {
    .navbar-collapse {
        border: 1px solid #fff;
        position: absolute;
        left: 10px;
        top: 70px;
        right: 10px;
    }
}

.btn {
    border-radius: 20px;
    font-size: 13px;
}

.btn-primary {
    background-color: hotpink;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: hotpink;
    background-color: #d0e2d9;
}

/* Boostrap overide form
--------------------------------------------------  */

.form-label {
    font-weight: bold;
}

.form-control,
.form-select {
    border-radius: 20px!important;
}

.form-check-input:checked {
    background-color: hotpink;
    border-color: hotpink;
}

.form-check-inline {
    margin-right: 5px;
}

#cabinetDate,
#cabinetDateRepetition {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff url("../img/input-cal.png") no-repeat right center;
}

.customFormCheck .form-check-input {
    display: none;
}

.customFormCheck .form-check-input:checked+.form-check-label {
    background-color: hotpink;
    color: #fff;
}

.customFormCheck .form-check-label {
    border-radius: 50%;
    font-weight: bold;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.customFormCheck .form-check-label:hover {
    background-color: #d0e2d9;
}

select,
[type="checkbox"] {
    cursor: pointer;
}

/* Card custom
--------------------------------------------------  */

.card {
    min-width: 320px;
    --border-width: 1px;
    background-color: #ffffffc7;

    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;

    position: absolute;
    border-radius: 6px; /* var(--border-width); */
    opacity: 0.8;

    /* transform: perspective(400px) rotateX(0deg) rotateY(0deg);
	transform-style: preserve-3d;
	box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgba(18, 4, 82, 0.603); */

    /* resize: both;
    overflow: hidden; */
}

.card::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(66deg, hotpink, white, #b71968);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 6px; /* calc(2 * var(--border-width)); */
    animation: moveGradient 4s alternate infinite;
}

.card h3,
.card h5,
.card p,
.card li {
    filter: drop-shadow(1px 0 1px hotpink);
    transition: filter 0.3s ease-in-out;
    -moz-transition: filter 0.3s ease-in-out;
    -o-transition: filter 0.3s ease-in-out;
    -webkit-transition: filter 0.3s ease-in-out;
    -ms-transition: filter 0.3s ease-in-out;
}
.card h3:hover,
.card h5:hover,
.card p:hover,
.card li:hover {
    filter: drop-shadow(3px 3px 2px hotpink);
}

.card h3:hover .fluo,
.card h5:hover .fluo,
.card p:hover .fluo,
.card li:hover .fluo {
    background-color: rgb(255 255 0 / 86%);
}

.card-body {
    text-align: justify;
    overflow-wrap: break-word;
    overflow: auto;
    background-color: #ffffffc7;
    border-radius: var(--border-width);
    transform: translateZ(60px);
	transform-style: preserve-3d;
    border-radius: 6px;
}

@keyframes moveGradient {
	50% {
		background-position: 100% 50%;
	}
}

#card1,
#card3 {
    top: 110px;
    left: 50px;
    width: 33%;
    bottom: 50px;
    z-index: 110;
}

    .moveLeft {
        transform: translate(-120%, 0);
        -webkit-transform: translate(-120%, 0);
        -moz-transform: translate(-120%, 0);
        -o-transform: translate(-120%, 0);
        -ms-transform: translate(-120%, 0);
    }

#card2,
#card4 {
    top: 110px;
    right: 50px;
    width: 33%;
    bottom: 50px;
    z-index: 120;
}

    .moveRight {
        transform: translate(120%, 0);
        -webkit-transform: translate(120%, 0);
        -moz-transform: translate(120%, 0);
        -o-transform: translate(120%, 0);
        -ms-transform: translate(120%, 0);
    }

@media (max-width: 768px) {
    .card {
        min-width: auto;
    }
    #card1,
    #card3 {
        top: 110px;
        left: 30px;
        width: initial;
        right: 30px;
        bottom: initial;
        height: 36%;
    }
    #card2,
    #card4 {
        top: 56%;
        left: 30px;
        right: 30px;
        width: initial;
        bottom: initial;
        height: 36%;
    }
}

.card ul > li > svg {
    margin: 2px 6px 3px 0;
}


/* jQuery UI Sortables
--------------------------------------------------  */

#consultationsOrder {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#consultationsOrder li {
    margin: 0 3px 3px 3px;
    padding: 5px 5px 5px 15px;
    height: 30px;
    line-height: 30px;
    color: rgb(24, 24, 24);
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
}

.closeSortable i {
    color: rgb(24, 24, 24);
}

.ui-state-default {
    border: none;
}